.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid #d7d7d7;
  width: 56.25rem;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;

  /* min-width: 18.75rem; */
}

.coin h1 {
  font-size: 1rem;
  width: 9.375rem;
}

.coin img {
  height: 1.875rem;
  width: 1.875rem;
  margin-right: 0.625rem;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 6.875rem;
}

.coin-volume {
  width: 9.688rem;
}

.coin-marketcap {
  width: 14.375rem;
}

.coin-percent {
  width: 6.25rem;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media (orientation: portrait) {
  .coin-container {
    max-width: 95vw;
  }

  .coin-row {
    padding-right: 0.4rem;
  }

  .coin-container h1 {
    display: none;
  }

  .coin-volume {
    display: none;
  }

  .coin-marketcap {
    display: none;
  }

  .coin {
    width: 40%;
    padding-right: 0;
  }

  .coin-data {
    width: 50%;
  }

  /* .coin-price {
  }

  .coin-percent {
  } */
}
